---
// Componente de cabecera para Zicca
---

<div class="logo-container">
  <img 
    src="/img/zicca-logo.png" 
    alt="Zicca Logo" 
    width="227" 
    height="57"
    loading="eager" 
  />
  <p>@zicca.pe</p>
</div>

<style>
  .logo-container {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .logo-container img {
    max-width: 227px;
    height: auto;
    will-change: transform;
  }
  
  .logo-container p {
    color: #000000; 
    padding-top: 30px;
    font-size: large;
  }
</style>